body            { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}

h1{
  font-size: 40px;
  text-align: center;
}

h1::after,h1::before{
  content: '';
  position: absolute;
  width: 350px;
  height: 10px;
  background-color: black;
}

h1::after{
  left: 75px;
  top: 3.25em;
}

h1::before{
  right: 75px;
  top: 3.25em;
}

a, h1, h2       { color: #377ba8; }
h1, h2          { margin: 0; }
h1              { border-bottom: 2px solid darkslategrey; }


table.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  text-align:left;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 20px;
  width: 100%;
}

.male th {
    background-color: #add8e6;
    color: white;
}

.female th {
    background-color: #77dd77;
    color: white;
}

tr:nth-child(odd)		{ background-color:#eee; }
tr:nth-child(even)	{ background-color:#fff; }

tr:hover            { background-color: #ffff99;}
