<!doctype html>
<title>Simple tables</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<style>
body {
  background-color: lightblue;
}
</style>

<div class=page>
  <h1>NUESTROS PRÓXIMOS HORARIOS</h1>
  <style>
    h1{
  font-size: 40px;
  text-align: center;
  color: black;
}

h1::after,h1::before{
  content: '';
  position: absolute;
  width: 350px;
  height: 10px;
  background-color: black;
}

h1::after{
  left: 75px;
  top: .8em;
}

h1::before{
  right: 75px;
  top: .8em;
}
  </style>
  {% for table in tables %}
    <h2>{{titles[loop.index]}}</h2>
    {{ table|safe }}
    {% endfor %}
    <style>
      table.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 2px solid cyan;
  border-collapse: collapse;
  text-align:left;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 35px;
  margin-top:30px ;
  margin-left: 220px;
  width: 70%;
  white-space:nowrap;
  height: 30px;
  display: ruby;
}

thead{
    text-align: center;
    border-bottom: solid 5px white;
    font-size: 40px;
}

.female th {
    background-color: darkslategray;
    color: white;
}

tr:nth-child(odd)		{ background-color:#eee; }
tr:nth-child(even)	{ background-color:#fff; }

tr:hover            { background-color: #ffff99;}
    </style>
</div>
